<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1>Create</h1>
        <form action="/create" method="post">
            <div>
                <label for="title">Title</label>
                <input type="text" id="title" name="title" required>
            </div>
            <button type="submit">Create</button>
        </form>
    </body>
</html>