<html>
    <head>
        <title><% title %></title>
    </head>
    <body>
        <h1>Home</h1>
        <div class="movies-list">
            <h2>Movies</h2>
            <ul>
                <% movies.forEach(function(movie) { %>
                    <li><%= movie.title %></li>
                <% }); %>
            </ul>
        </div>
    </body>
</html>